* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Slack-Circular-Pro;
}

html {
    font-size: 16px;
    background-color: #fff;
}

:root {
    --link-color: rgb(255, 255, 255);
    --brand-color: rgba(9, 81, 9, 0.895);
    --text-color: rgba(0 0 0);
    --h1: 3.4rem;
    --h2: 2.3rem;
    --h3: 1.5rem;
    --p_large: 1.1rem;
    --p_small: 1rem;
    --link: .8rem;
    --h3A: 1.2rem;

}

@font-face {
    font-family: Slack-Circular-Pro;
    src: url('./circular-pro-book.woff2');
}


/* INTERCOM STYLING */
.intercom-lightweight-app-launcher {
    position: fixed;
    z-index: 2147483003;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgb(74 85 104);
    cursor: pointer;
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 6%), 0 2px 32px 0 rgb(0 0 0 / 16%);
    animation: intercom-lightweight-app-launcher 250ms ease;
}

.intercom-lightweight-app-launcher-icon {
    opacity: 1;
    transform: rotate(0deg) scale(1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    transition: transform 100ms linear, opacity 80ms linear;
}

.intercom-lightweight-app-launcher-icon-open svg {
    width: 28px;
    height: 32px;
}

.intercom-lightweight-app-launcher-icon-open svg path {
    fill: rgb(255, 255, 255);
}

.intercom-lightweight-app-launcher-icon-minimize {
    opacity: 0;
    transform: rotate(-60deg) scale(0);
}

.intercom-lightweight-app-launcher-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    transition: transform 100ms linear, opacity 80ms linear;
}

.intercom-lightweight-app-launcher-icon-minimize svg {
    width: 16px;
}

/* NAVBAR STYLING */
nav {
    position: fixed;
    top: 0;
    background-color: rgba(255, 254, 254, 1);
    width: 100vw;
    box-shadow: 0 4px 40px rgb(0 0 0 / 8%);
    height: 70px;
    z-index: 1000;
    align-items: center;
}

.navwrapper {
    max-width: 1300px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first {
    display: flex;
    list-style-type: none;
    align-items: center;
    flex-basis: 60%;
    justify-content: center;
}

.second {
    display: flex;
    list-style-type: none;
    align-items: center;
    flex-basis: 20%;
    justify-content: flex-end;
}

.first-li {
    padding: 1.345rem 2.8454rem;
    font-size: var(--link);
    color: var(--text-color);
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

.first-li:hover {
    color: var(--brand-color);
}

.logo {
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    flex-basis: 20%;
    color: var(--brand-color);
}

.logo a {
    text-decoration: none;
    color: var(--brand-color);
}

.second-li {
    padding: .5rem 1rem;
    border-radius: 18px;
}

.second-li:nth-child(2) {
    background-color: var(--brand-color);
}

.second-li:nth-child(2) {
    margin-left: .7rem;
}

.signup {
    font-size: var(--link);
    color: var(--link-color);
    font-weight: 400;
    word-break: no-break;
    text-decoration: none;
}

.login {
    color: var(--text-color);
    font-size: var(--link);
    text-decoration: none;
}

.login:hover {
    color: var(--brand-color);
}

.menubar-div {
    display: none;
}
/* DROPDOWN STYLING */
/* SERVICES DROPDOWN STYLING */
.services-display {
    position: relative;
}

.services {
    position: absolute;
    top: 50px;
    z-index: 9;
    width: 400px;
    min-width: unset;
    height: auto;
    margin-left: -10px;
    margin-right: 10px;
    background: var(--link-color);
    box-shadow: rgb(0, 0, 0) 0px 0px 0.8rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    display: none;
    transition: display 0.4s ease 0s, opacity 0.4s ease 0s, transform 0.4s cubic-bezier(0.3, -0.62, 0.21, 1) 0s;;
}

.services-display:hover .services {
    display: block;
    opacity: 1;
    transform: translateX(9px);
}

.services-list {
    padding: .3rem 1rem;
}

.services-list:hover {
    background-color: rgba(121, 118, 118, 0.0577);
}

.services-links {
    text-decoration: none;
    color: black;
    font-size: var(--link);
    display: inline-block;
    margin: .3rem 0;
    padding: .5rem 0;
}

.services-links:hover {
    color: var(--brand-color);
    transform: scale(1);
}

/* OFFERS DROPDOWN STYLING */
.offers-display {
    position: relative;
}

.offers {
    position: absolute;
    top: 50px;
    z-index: 9;
    width: 400px;
    min-width: unset;
    height: auto;
    margin-left: -10px;
    margin-right: 10px;
    background: var(--link-color);
    box-shadow: rgb(0, 0, 0) 0px 0px 0.8rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    display: none;
    transition: display 0.4s ease 0s, opacity 0.4s ease 0s, transform 0.4s cubic-bezier(0.3, -0.62, 0.21, 1) 0s;;
}

.offers-display:hover .offers {
    display: block;
    opacity: 1;
    transform: translateX(9px);
}

.offers-list {
    padding: .3rem 1rem;
}

.offers-list:hover {
    background-color: rgba(121, 118, 118, 0.0577);
}

.offers-links {
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--link);
    display: inline-block;
    margin: .3rem 0;
    padding: .5rem 0;
}

.offers-links:hover {
    color: var(--brand-color);
    transform: scale(1);
}

/* PRICING DROPDOWN STYLING */
.pricing-display {
    position: relative;
}

.pricing {
    position: absolute;
    top: 50px;
    z-index: 9;
    width: 400px;
    min-width: unset;
    height: auto;
    margin-left: -10px;
    margin-right: 10px;
    background: var(--link-color);
    box-shadow: rgb(0, 0, 0) 0px 0px 0.8rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    display: none;
    transition: display 0.4s ease 0s, opacity 0.4s ease 0s, transform 0.4s cubic-bezier(0.3, -0.62, 0.21, 1) 0s;;
}

.pricing-display:hover .pricing {
    display: block;
    opacity: 1;
    transform: translateX(9px);
}

.pricing-list {
    padding: .3rem 1rem;
}

.pricing-list:hover {
    background-color: rgba(121, 118, 118, 0.0577);
}

.pricing-links {
    text-decoration: none;
    color: black;
    font-size: var(--link);
    display: inline-block;
    margin: .3rem 0;
    padding: .5rem 0;
}

.pricing-links:hover {
    color: var(--brand-color);
    transform: scale(1);
}
/* FIRST SESSION STYLING */
.session-container {
    padding-top: 5rem;
    padding-bottom: 3rem;
    animation: session 2s ease-in 0s 1 alternate none;
}

@keyframes session {
    0% {
        transform: scale(0.2);
        opacity: 0.1;
    }

    30% {
        transform: scale(0.5);
        opacity: 0.4;
    }

    65% {
        transform: scale(0.8);
        opacity: 0.6;
    }

    100% {
        transform: scale(1.1);
        opacity: 1;
    }
}

.section-1-wrapper {
    max-width: 1300px;
    display: grid;
    grid-template-columns: 42.5436% 50%;
    gap: 6rem;
    margin: 0 auto;
}

.section-1 {
    overflow: hidden;
    display: block;
    position: relative;
    background-image: linear-gradient(to right, rgba(173, 175, 175, 0.176), rgba(173, 175, 175, 0.176));
}

.header-content-1 {
    margin: auto;
}
.section-1 h1 {
    font-size: var(--h1);
    line-height: 1.13285;
    color: rgb(0 0 0 );
    margin-bottom: 1rem;
}

.section-1 span {
    color: rgb(9, 81, 9);
    font-size: var(--h1);
    animation: span 10s ease-out 4s infinite alternate none;
}

@keyframes span {
    0% {
        color: rgb(9, 81, 9);
    }

    20% {
        color: rgba(0, 0, 255, 0.882);
    }

    40% {
        color: rgb(222, 191, 21);
    }

    60% {
        color: rgba(175, 70, 70, 0.908);
    }

    80% {
        color: rgb(27, 121, 121);
    }

    100% {
        color: rgba(14, 31, 46, 0.882);
    }
}

.section-1 p {
    font-size:var(--p_small);
    line-height: 1.6131;
    font-weight: 200;
    margin-bottom: 1.8rem;
}

.section-1 img {
    max-width: 790px;
    /* width: 100%; */
    height: auto;
}

.downloads {
    display: flex;
    justify-content: flex-start;
}

.download-husky {
    text-decoration: none;
    color: var(--link-color);
    display: inline-block;
    font-size: var(--p_large);
    padding: 1rem 2rem;
    background-color: var(--brand-color);
    border-radius: 40px;
    position: relative;
    transition: all 300ms ease-in;
}

.download-husky:hover {
    color: rgb(0 0 0 );
    background-color: rgba(255, 255, 255, 0.762);
}

.download-husky::before {
    transition: 300ms;
    height: 1.5px;
    content: "";
    position: absolute;
    border-radius: 50px;
    background-color: var(--brand-color);
}

.download-underline::before {
    width: 0%;
    bottom: 30%;
}

.download-underline:hover:before {
    width: 72%;
}

.sign-up-with-email {
    text-decoration: none;
    color: var(--link-color);
    display: inline-block;
    font-size: var(--p_large);
    padding: 1rem 2rem;
    background-color: rgb(0 0 0 );
    border-radius: 40px;
    margin-left: 1.3rem;
    position: relative;
    transition: all 300ms ease-in;
}

.sign-up-with-email:hover {
    color: rgb(250, 247, 247);
    background-color: var(--brand-color);
}

.sign-up-with-email::before {
    transition: 300ms;
    height: 1.5px;
    content: "";
    position: absolute;
    background-color: var(--link-color);
    width: 0%;
    bottom: 30%;
}

.sign-up-with-email:hover:before {
    width: 74%;
}

.circle1 {
    position: absolute;
    z-index: -20;
    top: 20%;
    right: 50%;
    width: 300px;
    height: 300px;
    background-color: var(--brand-color);
    opacity: 0;
    clip-path: circle(15px at 15px 5px);
    animation: shape 2s ease-out 4s infinite alternate none;
}

.circle2 {
    position: absolute;
    z-index: -20;
    bottom: 20%;
    right: 57%;
    width: 300px;
    height: 300px;
    background-color: var(--brand-color);
    opacity: 0;
    clip-path: circle(15px at 25px 15px);
    animation: shape 2s ease-out 4s infinite alternate none;
}

.circle3 {
    position: absolute;
    z-index: -20;
    top: 18%;
    left: 2%;
    width: 300px;
    height: 300px;
    background-color: var(--brand-color);
    opacity: 0;
    clip-path: circle(15px at 25px 15px);
    animation: shape 2s ease-out 4s infinite alternate none;
}

.circle4 {
    position: absolute;
    z-index: -20;
    top: 88%;
    left: 8%;
    width: 300px;
    height: 300px;
    background-color: rgb(26, 26, 148);
    opacity: 0;
    clip-path: circle(15px at 45px 65px);
    animation: shape 2s ease-out 4s infinite alternate none;
}

.circle5 {
    position: absolute;
    z-index: -20;
    right: 10%;
    width: 300px;
    height: 300px;
    background-color: rgb(161, 161, 217);
    opacity: 0;
    clip-path: circle(15px at 15px 5px);
    animation: shape 2s ease-out 4s infinite alternate none;
}

.circle6 {
    position: absolute;
    z-index: -20;
    left: 39%;
    width: 300px;
    height: 300px;
    background-color: rgb(68, 101, 27);
    opacity: 0;
    clip-path: circle(15px at 18px 7px);
    animation: shape 2s ease-out 4s infinite alternate none;
}

.circle7 {
    position: absolute;
    z-index: -20;
    top: 11%;
    left: 80%;
    width: 300px;
    height: 300px;
    background-color: rgb(71, 159, 122);
    opacity: 0;
    clip-path: circle(15px at 5px 15px);
    animation: shape 2s ease-out 4s infinite alternate none;
}

@keyframes shape {
    0% {
        clip-path: circle(5px at 35px 35px);
        opacity: 0;
        transform: rotate(0deg) translateX(100px) rotate(0deg);
    }

    100% {
        clip-path: circle(20px at 35px 35px);
        opacity: 0.859;
        transform: rotate(360deg) translateX(100px) rotate(-360deg);
    }
}
/* SECTION 2 STYLING */
.section-2-wrapper {
    max-width: 1300px;
    margin: 0 auto;
}

.section2 {
    padding-top: 2rem;
}

.trusted {
    margin: 0 auto;
}

.trusted h3 {
    font-size: var(--p_small);
    text-align: center;
    font-weight: bold;
}

.logo-wrappers {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2.6rem;
}

.img1 {
    opacity: 0;
    animation: one 1s ease-out .3s infinite alternate none;
}

@keyframes one {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.img2 {
    opacity: 0;
    animation: two 2s ease-out 1.1s infinite alternate none;
}

@keyframes two {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.img3 {
    opacity: 0;
    animation: three 2s ease-out .1s infinite alternate none;
}

@keyframes three {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.img4 {
    opacity: 0;
    animation: four 6s ease-out 1s infinite alternate none;
}

@keyframes four {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.img5 {
    opacity: 0;
    animation: five 10s ease-in.3s infinite alternate none;
}

@keyframes five {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.img6 {
    opacity: 0;
    animation: six 13s ease-in-out 1s infinite alternate none;
}

@keyframes six {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.img7 {
    opacity: 0;
    animation: seven 14s ease-out 2s infinite alternate none;
}

@keyframes seven {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

/* SECTION 3 STYLING */
.section3-wrapper {
    max-width: 1300px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0 auto;
}

.section3-h2-wrapper {
    margin-top: 2rem;
}

.section3-h2-wrapper h2 {
    font-size: 2rem;
    text-align: center;
    line-height: 1.9997;
    font-weight: 600;
    color: var(--text-color);
    letter-spacing:.1rem;
}

.section3 p {
    text-align: center;
    font-size: var(--p_small);
    font-weight: 300;
    line-height: 1.345;
    color: var(--text-color);
}

/* SECTION 4 STYLING */
.section4 {
    padding-top: 2rem;
}
.section4-wrapper {
    padding-top: 4rem;
    padding-bottom: 3.8rem;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    gap: 3rem;
}

.section4-1, .section4-2, .section4-3 {
    flex-basis: 30%;
}

.section4-2 img {
    max-width: 580px;
    height: auto;
}

.section4-1 {
    margin: auto;
    text-align: right;
}
.section4-1 h3 {
    font-size: var(--h3);
    color: var(--text-color);
    font-weight: 600;
}

.section4-1 p {
    font-size: var(--p_small);
    line-height: 1.695;
    margin-top: 1.4rem;
    color: var(--text-color);
    font-weight: 200;
}

.section4-3 {
    margin: auto;
    text-align: left;
}
.section4-3 h3 {
    font-size: var(--h3);
    color: var(--text-color);
    font-weight: 600;
}

.section4-3 p {
    font-size: var(--p_small);
    line-height: 1.695;
    margin-top: 1.4rem;
    color: var(--text-color);
    font-weight: 200;
}

.section4-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: .7rem 1rem;
    border-radius: 10px;
    background-color: var(--link-color);
    border: 2.3956px solid var(--brand-color);
    transition: all .2s ease-out;
}

.section4-link:hover {
    border-radius: 3px solid var(--brand-color);
    border-radius: 18px;
    fill: rgb(255, 255, 255, .5);
    box-shadow: inset 0 0 0 1px var(--brand-color);
}

.section4-link span {
    font-size: var(--p_small);
    font-weight: 600;
    margin-right: 2rem;
    color: var(--text-color);
}

.section4-svg {
    display: inline;
    fill: black;
}

.learn-more2 {
    display: inline-block;
    padding-top: 1.1rem;
}

.learn-more1 {
    display: inline-block;
    padding-top: 1.1rem;
    margin-left: auto;
}

/* SECTION 5 STYLING */
.section5-wrapper {
    max-width: 1300px;
    margin: 3rem auto;
}

.section5-h3-1 {
    font-size: var(--h3);
    text-align: center;
    line-height: 1.9997;
    font-weight: 600;
    color: var(--text-color);
}

.section5-session {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.speed-image {
    flex-basis: 20%;
}

.section5-session-1 {
    flex-basis: 40%;
    margin: auto 0;
}

.section5-session-1 h3 {
    font-size: var(--h3);
    color: var(--text-color);
    font-weight: 600;
}

.section5-session-1 p {
    font-size: var(--p_small);
    line-height: 1.695;
    margin-top: 1.4rem;
    color: var(--text-color);
    font-weight: 200;
}

.speed {
    max-width: 500px;
    height: auto;
}

/* SECTION 6 STYLING */
.section6-wrapper {
    max-width: 1300px;
    margin: 3rem auto;
}

.section6-h3-1 {
    font-size: var(--h3);
    text-align: center;
    line-height: 1.9997;
    font-weight: 600;
    color: var(--text-color);
}

.section6-session {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.speed-image {
    flex-basis: 20%;
}

.section6-session-1 {
    flex-basis: 40%;
    margin: auto 0;
}

.section6-session-1 h3 {
    font-size: var(--h3);
    color: var(--text-color);
    font-weight: 600;
}

.section6-session-1 p {
    font-size: var(--p_small);
    line-height: 1.695;
    margin-top: 1.4rem;
    color: var(--text-color);
    font-weight: 200;
}

.speed {
    max-width: 500px;
    height: auto;
}

/* SECTION 7 STYLING */
.section7-wrapper {
    max-width: 1300px;
    margin: 3rem auto;
}

.section7-h3-1 {
    font-size: var(--h3);
    text-align: center;
    line-height: 1.9997;
    font-weight: 600;
    color: var(--text-color);
}

.section7-session {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.speed-image {
    flex-basis: 20%;
}

.section7-session-1 {
    flex-basis: 40%;
    margin: auto 0;
}

.section7-session-1 h3 {
    font-size: var(--h3);
    color: var(--text-color);
    font-weight: 600;
}

.section7-session-1 p {
    font-size: var(--p_small);
    line-height: 1.695;
    margin-top: 1.4rem;
    color: var(--text-color);
    font-weight: 200;
}

.speed {
    max-width: 500px;
    height: auto;
}

/* SECTION 8 STYLING */
.section8-wrapper {
    max-width: 1300px;
    margin: 3rem auto;
}

.section8-h3-1 {
    font-size: var(--h3);
    text-align: center;
    line-height: 1.9997;
    font-weight: 600;
    color: var(--text-color);
}

.section8-session {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.speed-image {
    flex-basis: 20%;
}

.section8-session-1 {
    flex-basis: 40%;
    margin: auto 0;
}

.section8-session-1 h3 {
    font-size: var(--h3);
    color: var(--text-color);
    font-weight: 600;
}

.section8-session-1 p {
    font-size: var(--p_small);
    line-height: 1.695;
    margin-top: 1.4rem;
    color: var(--text-color);
    font-weight: 200;
}

.speed {
    max-width: 500px;
    height: auto;
}

/* SECTION 9 */
.section9-container {
    padding-bottom: 4rem;
    padding-top: 2rem;
}

.section9-1 h3 {
    font-size: var(--h3);
    color: var(--text-color);
    line-height: 1.5467;
}

.section9-1 p {
    font-size: var(--p_small);
    line-height: 1.695;
    margin: 2.3rem 0;
    color: var(--text-color);
    font-weight: 200;
}

.section9-1 {
    flex-basis: 30%;
    margin: auto 0;
}
.section9-svg {
    width: 100%;
    display: block;
}

.section9-2 {
    /* max-width: 500px; */
    min-width: 0px;
    max-width: 450px;
    width: 100%;
    place-self: end center;
    flex-basis: 40%;
}

.section9-wrapper {
    max-width: 1300px;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0 auto;
    justify-content: center;
    gap: 1rem;
    background-image: linear-gradient(to right, rgb(173 175 175 / 10%), rgba(174, 173, 175, 0.14), rgba(40, 108, 40, 0.15), rgba(80, 228, 228, 0.04));
    border-radius: 20px;
    position: relative;
}

/* SECTION 10 */
.css-hdgykq {
    margin: 0px;
    min-width: 0px;
    height: 128px;
    text-align: center;
}

.section10-wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding-bottom: 5rem;
}

.section10-h2 {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.section10-h2 h2 {
    font-size: var(--h3);
    color: var(--text-color);
    line-height: 1.994;
    text-align: center;
}

.section10-2-wrapper {
    display: flex;
    justify-content: space-between;
}

.section10-flex {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
}

.section10-flex h3 {
    font-size: var(--p_large);
    margin-top: 23px;
    color: var(--text-color);
    line-height: 1.5467;
    text-align: center;
}

.section10-flex p {
    font-size: var(--p_small);
    line-height: 1.6999;
    margin: 2rem 0;
    color: var(--text-color);
    font-weight: 200;
    text-align: center;
}

/* SECTION 11 */
.section-11 {
    background-image: linear-gradient(to right, rgb(173 175 175 / 12%), rgba(174, 173, 175, 0.14), rgba(40, 108, 40, 0.15), rgba(80, 228, 228, 0.04));
    padding-bottom: 3rem;
}

.review1 {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    transition: all 400ms ease-out;
}

.review1 img {
    border-radius: 100%;
    max-width: 120px;
    display: block;
    margin: 0 auto;
}

.review1 p {
    font-size: var(--p_small);
    font-style: italic;
    margin: 2rem 0;
    margin-bottom: 1rem;
    text-align: center;
    line-height: 1.503;
}

.review1 span {
    font-size: var(--p_small);
    text-align: center;
}

.section11-wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding-bottom: 4rem;
}

.section11-h2-wrapper h2 {
    font-size: var(--h3);
    color: var(--text-color);
    line-height: 1.994;
    text-align: center;
}

.section11-h2-wrapper h3 {
    font-size: var(--h3);
    line-height: 1.6999;
    margin: .5rem 0;
    color: var(--text-color);
    font-weight: 200;
    text-align: center;
}

.customer-review-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 1.698rem;
}

.review1:hover {
    transform: scale(1.1);
}

/* SECTION 12 STYLING */
.section12 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.section12-wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section12-wrapper h1 {
    font-size: var(--h3);
    text-align: center;
    color: var(--text-color);
    line-height: 1.0;
}

.section12-wrapper p {
    text-align: center;
    font-size: var(--p_small);
    color: var(--text-color);
    line-height: 1.0;
    margin: 1.4rem 0;
    margin-bottom: 1rem;
}

.input-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 2rem;
    text-align: center;
    width: 100%;
    max-width: 35.2rem;
}

.input {
    width: 100%;
    font-size: var(--link);
    line-height: 1.25rem;
    color: rgb(117, 115, 114);
    outline: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 12px;
    border-radius: 4px 0px 0px 4px;
}

.input-section button {
    color: rgb(255, 255, 255);
    font-size: var(--p_small);
    line-height: 1.1;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    background: var(--brand-color);
    border-radius: 0px 4px 4px 0px;
    padding: 12px 2rem;
}

/* SECTION 13 STYLING */
.section13-wrapper {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.3rem;
}

.section13-flex1 img {
    max-width: 500px;
    height: auto;
    width: 100%;
}

.section13-flex2 h2 {
    font-size: var(--h3);
    color: var(--text-color);
    line-height: 1.159;
    font-weight: 600;
}

.section13-flex2 p {
    font-size: var(--p_small);
    margin: .7rem 0;
}

.apple{
    max-width: 170px;
}

.google {
    max-width: 160px;
}

.apple {
    border-radius: 3px;
}

.mobile-store {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    justify-content: space-between;
}

/* FOOTER STYLING */
footer {
    background-image: linear-gradient(to right, rgb(173 175 175 / 12%), rgba(174, 173, 175, 0.14), rgba(40, 108, 40, 0.15), rgba(80, 228, 228, 0.04));
    border-top: 2px solid rgba(170, 165, 165, 0.111);
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-top: 2rem;
}

.footer-can {
    max-width: 1300px;
    margin: 0 auto;
    padding-bottom: rem;
}

.footer-wrapper {
    margin: 0 auto;
    padding: 3rem 0;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.ul-1 {
    list-style-type: none;
}

.header-ul {
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.452;
    margin-bottom: .4rem;
}

.ul-li {
    padding: .5rem 0;
}

.ul-li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--link);
}

.ul-li a:hover {
    color: var(--brand-color);
    text-decoration: underline;
}

.hr {
    min-width: 0px;
    color: rgb(128 128 128);
    margin: 1rem 0;
    border-width: 0px 0px 1px;
    border-top-style: initial;
    border-right-style: initial;
    border-left-style: initial;
    border-color: initial;
    border-image: initial;
    border-bottom-style: solid;
}

/* LOWER FOOTER STYLING */
.lowerfooter-wrapper {
    max-width: 1300px;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.lowerfooter-ul {
    list-style-type: none;
    display: flex;
}

.lowerfooter-ul li {
    padding: 0 1.2rem;
}

.lowerfooter-ul a{
    font-size: var(--link);
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
}

.lowerfooter-ul a:hover {
    color: var(--brand-color);
    text-decoration: underline;
}

.social-media {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.social-media li {
    padding: 0 .9rem;
}

#linkedin {
    padding-right: 0px;
}

#status {
    padding-left: 0;
}

.twitter-svg:hover, .facebook-icon:hover, .youtube-icon:hover, .linkedin-icon:hover {
    fill: var(--brand-color);
}
/* MEDIA QUERIES */
@media screen and (max-width:1140px) {
    .section-1-wrapper {
        grid-template-columns: 100%;
        gap: 1rem;
    }

    .session-container {
        padding-top: 9rem;
    }

    .second-li:nth-child(1) {
        display: none;
    }

    .second-li:nth-child(2) {
        margin-left: 0;
    }
}

@media screen and (max-width:1280px) {
    .wrapper {
        padding: 0 6vw;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    
    .hr {
        margin: 0 6vw;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .navwrapper, .section-1-wrapper, .section-2-wrapper, .section3-wrapper, .section4-wrapper, .section5-wrapper, .section6-wrapper, .section7-wrapper, .section8-wrapper, .section9-wrapper, .section10-wrapper, .section11-wrapper, .section12-wrapper, .section13-wrapper,.footer-wrapper, .lowerfooter-wrapper {
        padding: 0 6vw;
    }

    .section9-wrapper {
        border-radius: 0px;
    }
}

@media screen and (min-width:769px) and (max-width:1141px) {
    .downloads {
        flex-direction: column;
    }

    .download-underline, .e-mail-underline {
        display: block;
        text-align: center;
        width: 100%;
    }

    .section-1 h1, .section-1 p {
        text-align: center;
    }

    .download-underline {
        margin-bottom: .7rem;
    }
    
    .e-mail-underline {
        margin: 0;
    }

    .section4-wrapper {
        flex-direction: column;
        gap: 2rem;
    }

    .speed {
        display: block;
        margin: 0 auto;
    }

    .section5-h3-1, .section6-h3-1, .section7-h3-1, .section8-h3-1, .section10-h2 h2, .newsletter-h1-wrapper h1 {
        line-height: .986;
        letter-spacing: .01rem;
        margin-bottom: .899rem;
    }

    .section4-1 h3, .section4-3 h3, .section5-session-1 h3,.section6-session-1 h3, .section7-session-1 h3, .section8-session-1 h3 {
        font-size: 1.95rem;
    }

    .download-husky::before, .sign-up-with-email::before {
        display: none;
    }
}

/* TABLETS & LARGER PHONES MEDIA QUERY */
@media screen and (min-width:481px) and (max-width:768px) {
    .menubar-div {
        display: block;
    }

    .second, .first {
        display: none;
    }

    .navwrapper {
        justify-content: space-between;
    }

    
    .section-1-wrapper {
        grid-template-columns: 100%;
        gap: 1rem;
    }

    .section-1 h1 {
        font-size: 3.3rem;
        text-align: center;
    }
    
    .section-1 p {
        text-align: center;
    }

    .section-1 h1 span {
        font-size: 3.3rem;
    }
    .header-content-2 {
        margin-bottom: -50px;
        margin-top: -30px;
    }

    .downloads {
        flex-direction: column;
    }

    .download-underline, .e-mail-underline {
        display: block;
        text-align: center;
        width: 100%;
    }

    .download-underline {
        margin-bottom: .7rem;
    }
    
    .e-mail-underline {
        margin: 0;
    }

    .customer-review-wrapper {
        flex-direction: column;
        gap: 3rem;
    }

    .section13-wrapper, .section10-2-wrapper,.section9-wrapper, .section8-session, .section5-session, .section7-session,.section6-session, .section4-wrapper {
        flex-direction: column;
        gap: 2rem;
    }

    .footer-wrapper {
        justify-content: space-between;
    }

    .section5-h3-1, .section6-h3-1, .section7-h3-1, .section8-h3-1, .section10-h2 h2, .newsletter-h1-wrapper h1 {
        font-size: 2.7rem;
        line-height: .976;
        letter-spacing: .01rem;
        margin-bottom: .899rem;
    }

    
    .section4-1 h3, .section4-3 h3, .section5-session-1 h3,.section6-session-1 h3, .section7-session-1 h3, .section8-session-1 h3 {
        font-size: 1.95rem;
    }

    .section5-session-1, .section7-session-1 {
        text-align: right;
    }

    .download-husky::before, .sign-up-with-email::before {
        display: none;
    }

    .speed {
        display: block;
        margin: 0 auto;
    }

    .speed2, .speed {
        width: 100%;
    }

    .download-husky::before, .sign-up-with-email::before {
        display: none;
    }

    .review1:hover {
        transform: scale(1);
    }

}
/* MOBILE VIEW MEDIA QUERY */
@media screen and (max-width:480px) {
    .section-1 p, .section3 p, .section4 p, .section-5 p, .section-6 p, .section-7 p, .section-8 p, .section-9 p, .section10 p, .section-11 p, .section12 p, .section13 p {
        font-size: .8rem;
    }

    .section3 h3, .section4 h3, .section-5 h3, .section-6 h3, .section-7 h3, .section-8 h3, .section10 h3, .section-11 h3, .section12 h3, .section13 h3 {
        font-size: .8rem;
    }

    .section3 h2, .section-5 h2, .section-6 h2, .section-7 h2, .section-8 h2, .section-9 h3, .section10 h2, .section-11 h2, .section12 h1, .section13 h2 {
        font-size: 1rem;
    }


    .ul-li a {
        font-size: .7rem;
    }

    .header-ul {
        font-size: .8rem;
    }
    .intercom-launcher {
        display: none;
    }

    .menubar-div {
        display: block;
    }

    .second, .first {
        display: none;
    }

    .navwrapper {
        justify-content: space-between;
    }

    .session-container {
        padding-top: 7rem;
    }
    
    .section-1 h1, .section-1 span {
        font-size: 2.2rem;
    }

    .trusted h3 {
        font-size: .6rem;
    }

    /* .section4-1 h3, .section4-3 h3, .section5-h3-1, .section5-session-1 h3, .section6-h3-1, .section6-session-1 h3, .section7-h3-1, .section7-session-1 h3, .section8-h3-1, .section8-session-1 h3, .section9-1 h3, .section10-h2 h2 {
        font-size: 1.3rem;
    } */

    /* .section3-h2-wrapper h2 {
        font-size: 1.3rem;
        line-height: 1.293; 
    } */

    .download-husky, .sign-up-with-email {
        font-size: .8rem;
    }

    .section4-link span {
        font-size: .8rem;
    }

    .review1 span {
        font-size: .8rem;
        font-weight: 600;
    }

    .review1:hover {
        transform: scale(1);
    }

    .footer-wrapper, .section13-wrapper, .section10-2-wrapper,.section9-wrapper, .section8-session, .section5-session, .section7-session,.section6-session, .section4-wrapper {
        flex-direction: column;
        gap: 2rem;
    }

    .lowerfooter-wrapper {
        flex-direction: column;
        gap: .9rem;
    }
    .section-1 h1 {
        text-align: center;
    }

    .section-1 p {
        text-align: center;
    }

    .section5-h3-1, .section6-h3-1, .section7-h3-1, .section8-h3-1, .section10-h2 h2, .newsletter-h1-wrapper h1 {
        line-height: .976;
        letter-spacing: .01rem;
        margin-bottom: .899rem;
    }

    .section4-1 h3, .section4-3 h3, .section5-session-1 h3,.section6-session-1 h3, .section7-session-1 h3, .section8-session-1 h3 {
        margin-top: .6rem;
    }

    .section5-session-1, .section7-session-1 {
        text-align: right;
    }

    .section9-wrapper {
        padding-top: 2rem;
    }

    .customer-review-wrapper {
        flex-direction: column;
        gap: 3rem;
    }

    .header-content-1 {
        margin: 0;
    }

    .header-content-2 {
        margin-bottom: -50px;
        margin-top: -30px;
    }

    .section10-svg {
        width: 100%;
    }
    .section-1-wrapper {
        grid-template-columns: 100%;
        gap: 1rem;
    }

    .downloads {
        flex-direction: column;
    }

    .speed-image, .speed {
        width: 100%;
    }

    .section9-wrapper {
        border-radius: 0px;
    }

    .section9-1 a {
        display: block;
        text-align: center;
        text-transform: uppercase;
    }

    .download-underline, .e-mail-underline {
        display: block;
        text-align: center;
        width: 100%;
    }

    .download-underline {
        margin-bottom: .4rem;
    }
    
    .mobile-store {
        flex-direction: column;
    }

    .e-mail-underline {
        margin: 0;
    }

    .section9-1 h3,   .section13-flex2 {
        text-align: center;
    }

    .social-media, .lowerfooter-ul {
        margin-right: auto;
    }

    #twitter {
        padding-left: 0;
    }

    .download-husky::before, .sign-up-with-email::before {
        display: none;
    }
}

@media screen and (max-width:331px) {
    .lowerfooter-ul {
        flex-direction: column;
        gap: .8rem;
    }

    .lowerfooter-ul li {
        padding: 0;
    }
}
